.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: opacity 3000ms ease-in;
}


* {
  box-sizing: border-box;
  display: block;
}
.tile {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
}
.tile img {
  display: block;
  width: 100px;
  height: 100px;
}
.demo
{
  width: 80%;
  margin: auto;
  position: relative;
}
